.paying-attention-edit-block {
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  background-color: #f1f1f1;

  .mark-as-correct {
    color: #fff700;
    position: relative;
    top: -3px;

    &:hover {
      transform: scale(1.25) rotate(12deg);
    }
  }

  .attention-delete {
    color: #ff0000;
    position: relative;
    top: -5px;

    // lisää pseudoselektori
    &:hover {
      color: #c20000 !important;
    }
  }
}
// scss feature, jossa compiler tekee uuden classnamen tällä syntaksilla
